*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
/.idea
.externalNativeBuild
.idea/encodings.xml
.idea/gradle.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/misc.xml
Gemfile.lock
.scannerwork/report-task.txt
.scannerwork/.sonar_lock
meestAuth/.DS_Store
app/.DS_Store
.DS_Store
fastlane/report.xml
fastlane/.env.default
/app/meest/release/
/.kotlin/errors
